body {
    margin: 0;
    background-image: url(images/background.jpg);
}

.logo{
    width: 150px;
    height: auto;
    padding-right: 10px;
}

.ladkrabang{
    width: 200px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    height: 90px;
    background-image: url(images/backheader.jpg);
    background-color: rgb(253, 165, 0);
    box-sizing: border-box;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
}

.titlename{
    font-size: 40px;
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 110px;
    background-color: black;
    border: 1px solid rgb(253, 165, 0); /* เพิ่ม border รอบ content */
    padding: 20px; /* ระยะขอบของ content */
    border-radius: 10px; /* กำหนดมุมขอบ */
}

.headproject{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.headtext{
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 5px;
    color: rgb(253, 165, 0);
}

.text {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 5px;
    color: rgb(253, 165, 0);
}

.textcontent{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    padding-inline-start: 40px;
    color: rgb(253, 165, 0);
}

.codeText{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
}

.boxcontent{
    padding-left: 25px;
}

.cilp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto; /* ระยะที่เต็มหน้าจอ */
  }
  
.clipdemo {
    width: 70%; /* ความกว้างของวิดีโอ */
    max-width: 800px; /* สูงสุดของความกว้าง */
  }

.hiden{
    max-width: 0px;
    overflow: hidden;
}

.tab__label:not(.tab__content):hover{
    background: rgb(192, 125, 2);
}
.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    background-color: wheat;
    color: black;
}
  .tab input:checked ~ .tab__content {
    max-height: 30000px;
}
.tab__label{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    color: rgb(0, 0, 0);
    background: rgb(253, 165, 0);
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
} 
.tab__label:hover{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    color: white;
    background: rgb(0, 81, 255);
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
} 
.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
    transform: rotate(270deg);
}
.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}
  